<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
<!-- the assets should be served up from public folder, otherwise this page can't access it -->
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <img class="portrait" src="/img/dorsa.png">
        </div>
        
        {{>footer}}
    </body>
</html>