<!DOCTYPE html>

<html>
    <head>
        <title>Weather</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">   
    </head>

    <body>
          <!--instead of hard coding it in the file, it will be provided by node js. to provide a value that's accessible in the template
          we have to provide a second argument for a render(). The first argument is the name of the view to render and the second argument is 
          an object that contains all of the values, we want that view to be able to access-->
        <div class="main-content">
             {{>header}}
             <p>Use this site to get your weather!</p>

             <form>
                <input placeholder="Location">
                <button>Search</button>
             </form>

             <p id="message-1"></p>
             <p id="message-2"></p>
        </div>
       
        {{>footer}}

         <script src="/js/app.js"></script>
    </body>
</html>